body {
    color: gold;
    background: rebeccapurple;
    margin: 0px;
}

header {
    border-bottom: solid 3px rgb(65, 105, 225);
    padding: 20px;
    font-size: 32px;
}

section {
    background: rgb(128,0,128);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}
