body {
    color: gold;
    background: rebeccapurple;
    margin: 0px;
}

header {
    border-bottom: solid 3px rgb(65, 105, 225);
    padding: 20px;
    font-size: 32px;
}

section {
    background: rgb(128,0,128);
}